.bg-light-blue {
  background-color: #f8f8ff;
}

.login-card {
  width: 100%;
  max-width: 340px;
  border: 1px solid #e5e6eb;
}

.form-control {
  border: none;
  border-bottom: 2px solid #ccc;
  border-radius: 0;
  box-shadow: none;
}

.form-control:focus {
  border-color: #38B6FF;
}

.link-secondary:hover {
  text-decoration: underline;
}

.btn-primary {
  background-color: #38B6FF;
  border: none;
  font-weight: 600;
  font-size: 0.8rem;
}

.btn-primary:hover {
  background-color: #38B6FF;
}
