footer {
    background-color: #0097B2;
    min-height: 25px;
    max-height: 100%;
}

footer h5 {
    color: white;
    margin: 0px;
}

footer p {
    color: white;
    margin: 0px;
}

footer .top-footer {
    background-color: #38B6FF;
}

footer a {
  color: inherit;
  text-decoration: none;
}

footer .top {
    background-color: #38B6FF;
}