footer {
    background-color: #0097B2;
    min-height: 25px;
    max-height: 100%;
}

h4 {
    color: white;
    margin: 0px;
}

p {
    color: white;
    margin: 0px;
}

.top-footer {
    background-color: #38B6FF;
}

a {
  color: inherit;
  text-decoration: none;
}