/* Background Predefinitions */

body {
    background-color: #F8F8FF;
    min-height: 100px;
    margin: 0;
}

/* Typography */

h1 {
  font-size: 48px;
  font-weight: bold;
  font-family: 'Poppins';
}

h2 {
  font-size: 40px;
  font-weight: bold;
  font-family: 'Poppins';
}

h3 {
  font-size: 32px;
  font-family: 'Poppins';
}

h4 {
  font-size: 28px;
  font-family: 'Poppins';
}

h5 {
  font-size: 24px;
  font-family: 'Poppins';
}

h6 {
  font-size: 20px;
  font-family: 'Poppins';
}

body {
  font-size: 16px;
  font-family: 'Poppins';
}

p {
  font-size: 16px;
  font-family: 'Poppins';
}

button {
  font-size: 16px;
  font-family: 'Poppins';
  font-weight: bold;
}

.caption {
  font-size: 12px;
  font-family: 'Poppins';
}

.overline {
  font-size: 10px;
  font-family: 'Poppins';
}