/* Color Variables Definition */
:root {
  --primary: #38B6FF;
  --secondary: #A5DEFF;
  --background: #F8F8FF;
  --tertiary-1: #FF0000;
  --tertiary-2: #0097B2;

  --success-green: #4CAF50;
  --alert-red: #e63946;

  --light-gray: #f5f8fa;
  --medium-gray: #a1a5b7;
  --dark-gray: #3f4254;
  --text-gray: #5e6278;
  --white: #ffffff;
  --card-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
}

/* Background Predefinitions */

body {
    background-color: #F8F8FF;
    min-height: 100px;
    margin: 0;
}

/* Typography */

h1 {
  font-size: 48px;
  font-weight: bold;
  font-family: 'Poppins';
}

h2 {
  font-size: 40px;
  font-weight: bold;
  font-family: 'Poppins';
}

h3 {
  font-size: 32px;
  font-family: 'Poppins';
}

h4 {
  font-size: 28px;
  font-weight: 300;
  font-family: 'Poppins';
}

h5 {
  font-size: 24px;
  font-weight: 300;
  font-family: 'Poppins';
}

h6 {
  font-size: 20px;
  font-family: 'Poppins';
}

body {
  font-size: 16px;
  font-family: 'Poppins';
}

p {
  font-size: 16px;
  font-weight: 200;
  font-family: 'Poppins';
}

button {
  font-size: 16px;
  font-family: 'Poppins';
  font-weight: bold;
}

.caption {
  font-size: 12px;
  font-family: 'Poppins';
}

.overline {
  font-size: 10px;
  font-family: 'Poppins';
}

/* Centralization */
.three-part-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.header-middle {
  text-align: center;
}

.header-right {
  display: flex;
  flex-direction: row;
  text-align: right;
}

@media (max-width: 768px) {
  .three-part-header {
    flex-direction: column;
    text-align: center;
  }

  .header-left,
  .header-middle,
  .header-right {
    width: 100%;
    margin-bottom: 10px;
  }
}

