header {
    background-color: #FFFFFF;
    min-height: 100px;
    max-height: 100%;
    border-bottom: 10px solid #38B6FF;
}

header h5 {
    color: #545454;
}

header h5 a {
    color: #545454;
    text-decoration: none;
}

.notification-icon {
  position: absolute;
  top: -4px;
  right: -4px;
  background-color: red;
  color: white;
  font-size: 12px;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
}